<div class="row">
  <div class="col-md offset-md-1">
    <h1>Editando </h1>
    <%= render 'form', breastfeeding: @breastfeeding %>
    <%= link_to 'Mostrar', @breastfeeding %> 
    <%= link_to 'Volver', breastfeedings_path %>
  </div>
</div>