<div class="row">
  <div class="col-md offset-md-1">
    <h1>Editando Bebé</h1>
    <%= render 'form', baby: @baby %>
    <%= link_to 'Mostrar', @baby %> |
    <%= link_to 'Volver', babies_path %>
  </div>
</div>